<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="tabs">
        <input type="radio" class="tabs-radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs-label">{{'login.login' | translate }}</label>
        <div class="tabs-content">
          <form #form1="ngForm">
            <fieldset class="form-control">
              <input
                [ngClass]="{'init': loginUserName.untouched ,'valid': loginUserName.touched && loginUserName.valid , 'invalid' : loginUserName.touched && loginUserName.invalid}"
                [(ngModel)]="userLogin.userName" name="loginUserName"  type="text"
                placeholder="userName" required minlength="5" maxlength="30" pattern="^[a-zA-Z][a-zA-Z0-9_-]{5,30}$"
                #loginUserName="ngModel">
              <div *ngIf="loginUserName.invalid">
                <span *ngIf="loginUserName['errors']?.required && loginUserName.touched">
                  {{'error.require' | translate :{'itemName' : 'login.userName' | translate } }}
                </span>
                <span *ngIf="loginUserName['errors']?.minlength">
                  {{'error.invalidMinLength' | translate :{'count' : 5} }}
                </span>
                <span *ngIf="loginUserName['errors']?.pattern">
                  {{'error.invalidPattern' | translate}}
                </span>
              </div>
            </fieldset>
            <fieldset class="form-control">
              <input
                [ngClass]="{'init': loginPwd.untouched ,'valid': loginPwd.touched && loginPwd.valid , 'invalid' : loginPwd.touched && loginPwd.invalid}"
                required maxlength="20"
                minlength="6"
                pattern="^(?=.*[a-z])[^\u4e00-\u9fa5+]{6,20}$"
                #loginPwd="ngModel"
                [(ngModel)]="userLogin.pwd"
                name="loginPwd"
                type="password"
                placeholder="Password">
              <div *ngIf="loginPwd.invalid">
                <span *ngIf="loginPwd['errors']?.required && loginPwd.touched">
                  {{'error.require' | translate :{'itemName' : 'login.pwd' | translate } }}
                </span>
                <span *ngIf="loginPwd['errors']?.minlength">
                  {{'error.invalidMinLength' | translate :{'count' : 6} }}
                </span>
                <span *ngIf="loginPwd['errors']?.pattern">
                  {{'error.invalidPattern' | translate }}
                </span>
              </div>
            </fieldset>
            <div class="form-control form-control-right">
              <button *ngIf="loginFlag == true" [disabled]="form1.invalid" class="btn  btn-primary"
                (click)="login()">
                {{'login.login' | translate }}
              </button>
            </div>
          </form>
        </div>

        <input type="radio" class="tabs-radio" name="tabs-example" id="tab2">
        <label for="tab2" class="tabs-label">{{'login.register' | translate }}</label>
        <div class="tabs-content">
          <form #form2="ngForm">
            <fieldset class="form-control">
              <input
                [ngClass]="{'init': userName.untouched ,'valid': userName.touched && userName.valid , 'invalid' : userName.touched && userName.invalid}"
                [(ngModel)]="userRegister.userName" name="userName" type="text"
                placeholder="userName" required minlength="5" maxlength="30" pattern="^[a-zA-Z][a-zA-Z0-9_-]{5,30}$"
                #userName="ngModel">
              <div *ngIf="userName.invalid">
                <span *ngIf="userName['errors']?.required && userName.touched">
                  {{'error.require' | translate :{'itemName' : 'login.userName' | translate } }}
                </span>
                <span *ngIf="userName['errors']?.minlength">
                  {{'error.invalidMinLength' | translate :{'count' : 5} }}
                </span>
                <span *ngIf="userName['errors']?.pattern">
                  {{'error.invalidPattern' | translate}}
                </span>
              </div>
            </fieldset>
            <fieldset class="form-control">
              <input
                [ngClass]="{'init': nickname.untouched ,'valid': nickname.touched && nickname.valid , 'invalid' : nickname.touched && nickname.invalid}"
                [(ngModel)]="userRegister.nickname" name="nickname" type="text"
                placeholder="nickname" required maxlength="10" pattern="^[\u4E00-\u9FA5A-Za-z0-9_]{1,10}$"
                #nickname="ngModel">
              <div *ngIf="nickname.invalid">
                <span *ngIf="nickname['errors']?.required && nickname.touched">
                  {{'error.require' | translate :{'itemName' : 'login.nickname' | translate } }}
                </span>
                <span *ngIf="nickname['errors']?.pattern">
                  {{'error.invalidPattern' | translate }}
                </span>
              </div>
            </fieldset>
            <fieldset class="form-control">
              <input
                [ngClass]="{'init': pwd.untouched ,'valid': pwd.touched && pwd.valid , 'invalid' : pwd.touched && pwd.invalid}"
                required maxlength="20" minlength="6" pattern="^(?=.*[a-z])[^\u4e00-\u9fa5+]{6,20}$" #pwd="ngModel"
                [(ngModel)]="userRegister.pwd" name="pwd" type="password"
                placeholder="Password">
              <div *ngIf="pwd.invalid">
                <span *ngIf="pwd['errors']?.required && pwd.touched">
                  {{'error.require' | translate :{'itemName' : 'login.pwd' | translate } }}
                </span>
                <span *ngIf="pwd['errors']?.minlength">
                  {{'error.invalidMinLength' | translate :{'count' : 6} }}
                </span>
                <span *ngIf="pwd['errors']?.pattern">
                  {{'error.invalidPattern' | translate }}
                </span>
              </div>
            </fieldset>
            <div class="form-control form-control-right">
              <button [disabled]="form2.invalid" class="btn  btn-primary"
                (click)="register()">
                {{'login.register' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
