<div class="search-container">
  <ul>
    <li>
      <input
        type="text"
        placeholder="Search.."
        [(ngModel)] = "text"
      >
    </li>
    <li>
      <div class="select">
        <select [(ngModel)]="selected">
          <option value="keyTopic">{{"searchBar.topic" | translate }}</option>
          <option value="keyNickname">{{"searchBar.nickname" | translate }}</option>
        </select>
        <div class="select__arrow">
          <!--<fa-icon [icon]="caretDown"></fa-icon>-->
        </div>
      </div>
    </li>
    <li>
      <div class="select">
      <button class="searchButton" (click)= "sendSearch()">{{"searchBar.search" | translate}}</button>
      </div>
    </li>

  </ul>
</div>



