<div class="container">
  <div class="row">
    <button class="btn" (click)="back()">
      <fa-icon [icon]="arrowLeft" size="2x" [style]="{'color':'blue'}"></fa-icon>
    </button>
  </div>

  <mat-paginator
    [length]="metadata?.length"
    [pageIndex]="metadata?.currentIndex"
    [pageSize]="metadata?.pageSize"
    [pageSizeOptions]="[5,10,25,100]"
    [showFirstLastButtons]="true"
    (page) = "changePage($event)"
    >
    </mat-paginator>

  <div *ngIf="post.topic != ''">
    <div class="post-header">
      <h1 class="h6">{{post.topic}}</h1>
    </div>
    <div class="post-content">
      <div class="userInfo">
        <div class="post-userInfo">
          <div>
            <p>{{post.postUserName}}</p>
          </div>
          <div>
            <p>{{"post.postAt" | translate}}</p>
            <p>{{post.postAt}}</p>
          </div>
        </div>
      </div>
      <div class="post-body">

          {{post.content}}

      </div>
    </div>

    <div class="reply-content" *ngFor="let reply of replies">
      <div class="reply-body">
          {{reply.content}}
      </div>
      <div class="userInfo">
        <div class="reply-userInfo">
          <div>
            <p>{{reply.nickname}}</p>
          </div>
          <div>
            <p>{{"post.replyAt" | translate}}</p>
            <p>{{reply.createAt}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    [length]="metadata?.length"
    [pageIndex]="metadata?.currentIndex"
    [pageSize]="metadata?.pageSize"
    [pageSizeOptions]="[5,10,25,100]"
    [showFirstLastButtons]="true"
    (page) = "changePage($event)"
    >
    </mat-paginator>

  <div class="reply-edit">
      <div class="">
        <form #form="ngForm">
          <fieldset class="form-group">
            <textarea class="form-control" name="content" [(ngModel)]="reply.content" #content="ngModel"
              placeholder= "{{placeHolder|translate}}" required [disabled]="disabledReply">
            </textarea>
          </fieldset>
          <button [disabled]="form.invalid" class="btn btn-primary" (click)="addReply()">{{ "post.addReply" | translate}}</button>
        </form>
      </div>
  </div>

</div>
