.post-header{
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px black solid;
  word-break: break-all;
}

.post-content{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.userInfo{
  padding: 10px;
  min-height: 100px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 50%;
}

.post-userInfo{
  background-color: rgb(171, 240, 175);
  margin-right: 5px;
}

.post-body{
  max-width: 50%;
  width: 60%;
  border-radius: 5px;
  padding: 5px;
  line-height: 1.5;
  background-color: rgb(171, 240, 175);
  white-space: pre-line;
  word-wrap: break-word;
}

.reply-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.reply-userInfo{
  background-color: rgb(238, 227, 164);
  margin-right: 5px;
}

.reply-body{
  max-width: 50%;
  width: 60%;
  padding: 5px;
  line-height: 1.5;
  border-radius: 5px;
  background-color: rgb(238, 227, 164);
  white-space: pre-line;
  word-wrap: break-word;
}

.reply{
  width: 80%;
  margin: auto;
	display: flex;
  justify-content: center;
  align-items: center;
}
