<div class="jw-modal wrap">
  <div class="jw-modal-body">
    <div class="jw-modal-header">
      <h1 class="h6 text-center">系統提示</h1>
      <fa-icon [icon]="windowClose" (click)="close()"></fa-icon>
    </div>
    <div class="jw-modal-content">
      <p class="h6 text-center">
        {{ errorCode | translate}}
      </p>
    </div>
    <div class="jw-modal-footer">
      <button class="btn btn-primary" (click)="close()">Close</button>
    </div>
  </div>
</div>
<div class="jw-modal-background"></div>
